<a href="https://colab.research.google.com/github/ParasK2903/ParasDemoToKashmi/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def dict_freq(str1):
    dict1 = {}
    # iterating over the string
    for i in str1:
        keys = dict1.keys()
        if i in keys:
            dict1[i] += 1
        else:
            dict1[i] = 1
    return dict1

result

{'t': 8,
 'h': 3,
 'e': 5,
 ' ': 11,
 'f': 2,
 'i': 4,
 'r': 3,
 's': 3,
 'a': 3,
 'n': 6,
 'd': 1,
 'o': 3,
 'l': 1,
 'y': 1,
 'g': 2,
 'u': 2,
 'm': 1,
 'c': 1,
 '.': 1}

In [ ]:
result
for key, value in result.items():
  y=[f"{key}, {value}"]
print(y)

['., 1']

In [ ]:
type(y)

list

In [ ]:
#Ques: Given a dictionary, find the sum of values of every key in the dictionary.
keys = input().split(" ")
values =input().split(" ")

values = [int(val) for val in values]

dict1 = dict(zip(keys,values))


def returnSum(dic):
  sum=0
  for i in dic:       # select the key in dictionary
    val = dic[i]
    print(val)      # assign the value of key to value
    sum = sum+val     # increase the value
  return sum

returnSum(dict1)

#print(dic3)

a b c
10 20 30
10
20
30

60

In [ ]:
dic3

{'a': 10}

In [ ]:
type(dic3)

dict

In [ ]:
dic3.keys()

dict_keys(['a, b, c'])

In [ ]:
dic3.values()

dict_values(['1, 2, 3'])

In [ ]:
keys = ("a b c").split(" ")
values =("10 20 30").split(" ")

values = [int(val) for val in values]

dict1 = dict(zip(keys,values))


def returnSum(dic):
  sum=0
  for i in dic:       # select the key in dictionary
    val = dic[i]
    print(val)      # assign the value of key to value
    sum = sum+val     # increase the value
  return sum

returnSum(dict1)

10
20
30

60

In [ ]:
keys = ("a b c").split(" ")
values =("25 25 50").split(" ")

values = [int(val) for val in values]

dict1 = dict(zip(keys,values))


def returnSum(dic):
  sum=0
  for i in dic:       # select the key in dictionary
    val = dic[i]      # assign the value of key to value
    sum = sum+val     # increase the value
  return sum

returnSum(dict1)

100

In [ ]:
dict = {5: 'a', 10: 'b', 15: 'c'}
#type(dict1)
print(dict[0])

KeyError: 0

In [ ]:
print(dict.get(5))

a

In [ ]:
abc = {}
abc[1] = 1
#abc['1'] = 2
abc[1] = abc[1] + 1

In [ ]:
abc

{1: 2}

In [ ]:
a = {}

a["s1"] = 2
a["s2"] = 3

In [ ]:
a

{'s1': 2, 's2': 3}

In [ ]:
list1 = ["a","b","c"]
list2 = [4,3,6]

y = dict(zip(list1,list2))
#print(y)


for i in y:
  result={}
  if i not in result or y[i] < result[i]:
    result[i] = y[i]
print(result)

{'c': 6}

In [ ]:
str1 = "aaaadfhgajshfdmmmssssmmm"
def count_char(string):
  dict1 = {}
  for i in string:
    if i not in dict1:
      dict1[i]=1
    else:
      dict1[i] = dict1[i]+1

  for i in dict1:
    if dict1[i]+1<dict1[i]:
      temp_var = i





count_char(str1)

UnboundLocalError: local variable 'temp_var' referenced before assignment

In [ ]:
print(temp_var)

NameError: name 'temp_var' is not defined

In [ ]:
b = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

In [ ]:
a[1:4]

(8, 5, 2)

In [ ]:
even = []
odd = []
a = list(b)
for i in a:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)

print(even, odd)

[10, 8, 2, 10, 10, 8, 8, 8, 2] [5, 15, 5]

In [ ]:
a

[10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2]

In [ ]:
tuple(a[0::2])

(10, 5, 10, 10, 5, 8)

In [ ]:
a[1::2]

[8, 2, 15, 8, 8, 2]

In [ ]:
def ev_odd_tuple(raw):
  even = tuple(raw[0::2])
  odd = tuple (raw[1::2])
  print("even is"f"{even}" " and odd is " f"{odd} ")


ev_odd_tuple(b)

even is(10, 5, 10, 10, 5, 8) and odd is (8, 2, 15, 8, 8, 2)

In [ ]:
a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
def odd_even_split_tuple(tup):
  Even = tuple(tup[0::2])
  Odd = tuple (tup[1::2])
  print("Even is"f"{Even}" " and Odd is " f"{Odd} ")

odd_even_split_tuple(a)

Even is(10, 5, 10, 10, 5, 8) and Odd is (8, 2, 15, 8, 8, 2)

In [ ]:
a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
def odd_even_split_tuple(tup):
  Even = tuple(tup[0::2])
  Odd = tuple (tup[1::2])
  print("Odd: " f"{Odd}")
  print("Even: " f"{Even} ")

odd_even_split_tuple(a)

Odd: (8, 2, 15, 8, 8, 2)
Even: (10, 5, 10, 10, 5, 8)

In [ ]:
a = 5

In [ ]:
class person:
  def __init__(self, name, age):
    self.ParasName = name
    self.ParasAge = age

p1 = person("Paras", 33)

print(p1.ParasName)
print(p1.ParasAge)

Paras
33

In [ ]:
print(p1.)

SyntaxError: invalid syntax (<ipython-input-12-6edd30247e7d>, line 1)

In [ ]:
class students:
  def __init__(self, Phymarks, Chemarks, attendance):
    self.Physics = Phymarks
    self.Chemistry = Chemarks
    self.StudentAttendance = attendance
    self.Total_marks = Phymarks+Chemarks

sixth = students(32,45, 22)

In [ ]:
sixth.Total_marks

77

In [ ]:
sixth.Physics

32

In [ ]:
class students:
  def __init__(self, Phymarks, Chemarks, attendance):
    self.Physics = Phymarks
    self.Chemistry = Chemarks
    self.StudentAttendance = attendance
    Total_marks = Phymarks+Chemarks

  sixth = students(32,45)

TypeError: students.__init__() missing 1 required positional argument: 'attendance'

In [ ]:
class Person:
  def __init__(self, name, age):
    self.Name = name
    self.Age = age

  def __str__(self):
    return f"{self.Name}({self.Age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [ ]:
class Student:
    def __init__(self, name, age):
        # Assigning values to attributes using `self`
        self.name = name  # `self.name` is specific to this object
        self.age = age    # `self.age` is specific to this object

# Create two instances of the class
student1 = Student("Alice", 20)
student2 = Student("Bob", 22)

# Access the attributes
print(student1.name, student1.age)  # Outputs: Alice 20
print(student2.name, student2.age)  # Outputs: Bob 22

Alice 20
Bob 22

In [ ]:
class Student:
    def __init__(self, name, age):
        # Assigning values to attributes using `self`
        self.name1 = name  # `self.name` is specific to this object
        self.age1 = age    # `self.age` is specific to this object

# Create two instances of the class
student1 = Student("Alice", 20)
student2 = Student("Bob", 22)

# Access the attributes
print(student1.name1, student1.age1)  # Outputs: Alice 20
print(student2.name1, student2.age1)  # Outputs: Bob 22

Alice 20
Bob 22

In [ ]:
marks = []
for i in range(5):
    marks.append(int(input("Subject " + str(i + 1) + ": ")))

Subject 1: 12
Subject 2: 11
Subject 3: 31
Subject 4: 13
Subject 5: 51

In [ ]:
marks

[12, 11, 31, 13, 51]

In [ ]:
y = marks.clear

In [ ]:
marks

[12, 11, 31, 13, 51]

In [ ]:
y

In [ ]:
abcdefghijklmnopqurtuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
1234567890

abcdef

.[{()\^$|?*+

scaler.com

321-555-4321
123.555.1234

Mr. Varma
Mr Anant
Ms Nandini
Mrs. Singh
Mr. T

SyntaxError: invalid syntax (<ipython-input-1-b0018a183f42>, line 7)

In [ ]:
Dave Martin
615-555-7164173
Main St., Springfield RI 55924
davemartin@bogusemail.com

Charles Harris
800-555-5669969
High St., Atlantis VA 34075
charlesharris@bogusemail.com

Eric Williams
560-555-5153806
1st St., Faketown AK 86847
laurawilliams@bogusemail.com

SyntaxError: invalid decimal literal (<ipython-input-1-d7aadf454038>, line 13)

In [ ]:
import re

In [ ]:
x = """Dave Martin
615-555-7164173
Main St., Springfield RI 55924
davemartin@bogusemail.com

Charles Harris
800-555-5669969
High St., Atlantis VA 34075
charlesharris@bogusemail.com

Eric Williams
560-555-5153806
1st St., Faketown AK 86847
laurawilliams@bogusemail.com"""

In [ ]:
patter = "\d{3}-\d{3}-\d{7}"

In [ ]:
output = print(re.search(patter, x))

<re.Match object; span=(12, 27), match='615-555-7164173'>

In [ ]:
output = print(re.findall(patter, x))

['615-555-7164173', '800-555-5669969', '560-555-5153806']

In [ ]:
import re
emails = [
    "test@example.com",
    "invalid-email@com",
    "another_valid@domain.org",
    "bad@domain@com",
    "example@invalid_extension.xyz",
    "valid.email@subdomain.edu"
    ]
def validate_emails(emails):
    email_pattern = r'^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.(com|org|net|edu|gov)$'      #"""Validate a list of email addresses and return only the valid ones.
    valid_emails = []
    for i in emails:
        if re.match(email_pattern, i):
            valid_emails.append(i)

    return valid_emails

lst= validate_emails(emails)

In [ ]:
lst

['test@example.com', 'another_valid@domain.org', 'valid.email@subdomain.edu']

In [ ]:
class Student:
    def __init__(self, marks1, credit1, marks2, credit2):
        # Initialize marks and credits for the subjects
        self.marks1 = marks1
        self.credit1 = credit1
        self.marks2 = marks2
        self.credit2 = credit2

    def calculate_points(self, marks):
        """Helper function to calculate points based on marks"""
        if marks >= 90:
            return 10
        elif 75 <= marks < 90:
            return 9
        elif 60 <= marks < 75:
            return 8
        elif 45 <= marks < 60:
            return 7
        else:
            return 0

    def gradepointaverage(self):
        """Calculates the GPA"""
        # Special case: return -1.0 if both credits are 0
        if self.credit1 == 0 and self.credit2 == 0:
            return -1.0

        # Calculate points for each subject
        points1 = self.calculate_points(self.marks1)
        points2 = self.calculate_points(self.marks2)

        # GPA formula
        total_credits = self.credit1 + self.credit2
        weighted_points = (points1 * self.credit1) + (points2 * self.credit2)

        # Calculate GPA rounded to two decimals
        gpa = weighted_points / total_credits
        return round(gpa, 2)

# Example usage:
student1 = Student(85, 3, 76, 4)
print(student1.gradepointaverage())  # Output GPA based on marks and credits

9.0

In [ ]:
import requests

In [ ]:
base_url = "https://books.toscrape.com/catalogue/page-1.html"

In [ ]:
from bs4 import BeautifulSoup